.Header{
    padding-bottom: 15px;
}

.Header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 70px;
    background-color: #333333;
  }

.Header li {
    float: left;
    padding: 7px;
  }

.Header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
.Header li a:hover {
    background-color: #111111;
  }


.Footer{
    padding-bottom: 0;
}

.Footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 60px;
    background-color: #333333;
  }

.Footer li {
    float: left;
    padding: 7px;
  }

.Footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
.Footer li a:hover {
    background-color: #111111;
  }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}