body {
    font-family: sans-serif;
  }
  
.centerclass input{
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    width: 25%;
    background: #f1f1f1;
  }
  
.nosuggestions {
    color: #999;
    padding: 0.5rem;
    position: relative;
}
  
.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 400px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(35% + 10px);
}
  
.suggestions li {
    padding: 0.5rem;
}
  
.suggestionactive,
.suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 70%;
}
  
.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

.centerclass button {
    width: 10%;
    padding: 5px;
    background: #fa923f;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
}

button:hover {
    background: gray;
}

.selected{
    position: absolute;
    bottom:10%;
    left: 33%;
    max-height: 25%;
    width: calc(35%);
}

.selected ul{
        border: 1px solid #999;
        list-style: none;
        margin-top: 0;
        overflow-y: auto;
        padding-left: 0;
        width: calc(35% + 10px);
}
.selected ul li {
    padding: 0.5rem;
}

.selected ul li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 70%;
}

.selected ul li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}