.checkboxcontainerHeader {
    background-color: #212121;
    color: #fafafa;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; 
}

.checkboxcontainerContainer {
    color: #fafafa;
    background-color: #757575;
    margin: 8px 4px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5rem;
}

.checkboxLabel {
    display: inline-block;
}