.displaySelectedContainer {
    color: #fafafa;
    background-color: #757575;
    border-radius: 0.5rem;
    margin: 8px 4px;
    text-align: center;
    vertical-align: middle;
}

.displaySelectedHeader {
    background-color: #212121;
    height: 2rem;
    vertical-align: middle;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.displaySelectedList {
    padding: 4px 10px;
    height:200px;
    overflow:hidden; 
    overflow-y:auto;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.displaySelectedEmptySection {
    padding: 4px 10px;
    color:#bdbdbd;
    height:200px;
    text-align: center;
    vertical-align: middle;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}