.caloriesLabel{
    color: #fafafa;
    display: flex;
    justify-content: center;
    height: 1.7rem;
    vertical-align: middle;
}

.caloriesInput{
    width: 50%;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5rem;
    margin: 1%
}

.cookingTimeLabel{
    color: #fafafa;
    display: flex;
    justify-content: center;
    height: 1.7rem;
    vertical-align: middle;
}

.cookingTimeInput{
    width: 20%;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5rem;
    margin: 1%
}

.inputContainer{
    display: flex;
    flex-flow: column;
}

.extraFilterHeader {
    background-color: #212121;
    color: #fafafa;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; 
}

.extraFilterContainer {
    color: #fafafa;
    background-color: #757575;
    margin: 8px 4px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5rem;
}