/* body > #root > div {
    height: 100vh;
} */

.appContainer {
    width: 100%;
    height: 100%;
    margin: 0;
}

.appSidebar {
    width: 25%;
    float: left;
    background-color: #424242;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.appSelectionboxWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appResults {
    width: 75%;
    display: inline-block;
}

.appButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.appButton {
    background-color: white;
    color:  #4CAF50; 
    border: 2px solid #4CAF50;
    border-radius: 0.5rem;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.appButton:hover {
    background-color: #4CAF50;
    color: white;
}

.appButton:focus {
    outline: none
}