.selectionboxContainer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.selectionboxWrapper
{
    display: inline;
}

.selectionboxEnterButton {
    background-color: white;
    color:  #4CAF50; 
    border: 2px solid #4CAF50;
    border-radius: 0.5rem;
    padding: 0px 1.5rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    height: 2.5rem;
    margin-left: 20px;
    text-overflow: hidden;
}
  
.selectionboxEnterButton:hover {
    background-color: #4CAF50;
    color: white;
}

.selectionboxEnterButton:focus {
    outline: none
}

.selectionboxSuggetions {
}